<div class="container">
  <div class="row">
    <h2>
      Cargar jerarquia
      <small>
        <%= form_tag upload_departments_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag "Guardar" %>
        <% end %>
      </small>
    </h2>
  </div>
  <div class="row">
    <h2>
      Imprimir jerarquia
      <small>
        <%= link_to(print_departments_path(format: :xlsx)) do %>
          Descargar
        <% end %>
      </small>
    </h2>
  </div>
</div>
